html {
  scroll-behavior: smooth;
}

.page {
  color: #100e09;
  font-family: "Open Sans", sans-serif;
  background-color: #eff1f4;
}

.contrast-colors {
  color: #fff;
  background-color: #0c73fe;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
}

.section__title {
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 41px;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: max-content min-content;
  justify-content: space-between;
  align-items: center;
  padding: 16px min(60px, 5%);
  inline-size: 100%;
}

@media (width > 1440px) {
  .header {
    padding-inline: calc((var(--window-width) - 1440px) / 2);
  }
}

.menu__button {
  display: block;
  border: none;
  background-color: transparent;
  background-image: url(../svg/hamburger-open.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  inline-size: 50px;
  block-size: 50px;
}

.menu__button:hover {
  opacity: 0.6;
}

.menu_opened {
  grid-column: 1 / -1;
}

.menu_opened .menu__button {
  background-image: url(../svg/hamburger-close.svg);
}

.menu__list {
  display: none;
  align-items: center;
  gap: 32px;
}

.menu__list li {
  opacity: 0.7;
}

.menu__list a:hover {
  opacity: 1;
  text-decoration: underline;
}

.menu_opened .menu__list {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

@media (width > 768px) {
  .header {
    display: flex;
  }

  .menu__button {
    display: none;
  }

  .menu__list {
    display: flex;
  }
}

/* before */

.before {
  display: flex;
  align-items: center;
  gap: 8px;
}

.before::before {
  --before-size: 17px;
  content: "";
  display: inline-block;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  inline-size: var(--before-size);
  block-size: var(--before-size);
}

.light-plane:before {
  background-image: url(../images/plane-light.svg);
}

.city-vector::before {
  background-image: url(../images/sity-vector.svg);
}

/* ticets */

.ticets {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding-inline: min(60px, 2%);
  background-color: transparent;

  min-block-size: max-content;
  block-size: 100vh;
}

.ticets::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  background-color: #0c73fe;
  background-image: url(../images/clouds-planes.png);
  background-repeat: no-repeat;
  background-position: center 80%;
  background-size: contain;
  inline-size: 100%;
  block-size: 100%;
}

@media (width >= 1440px) {
  /* выполнено через js */
  .ticets::before {
    left: calc((100% - var(--window-width)) / 2);
    inline-size: var(--window-width);
  }
}

.ticets__title {
  align-self: end;
  margin-block-end: 60px;
  font-size: clamp(1.75rem, 1.2692rem + 1.8315vw, 3rem);
  text-align: center;
}

.ticets__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  align-self: start;
}

.form__input {
  border: none;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;

  font-style: normal;
  line-height: 1.3;
  letter-spacing: -0.05em;
  background: #fff;
  appearance: none;
}

.form__input::placeholder {
  opacity: 0.3;
}

.ticets__form__input {
  border-radius: 0;
  padding: 22.5px 10px;
}

.ticets__form__input:first-of-type {
  border-radius: 15px 0px 0px 15px;
}

.ticets__form__input:last-of-type {
  border-radius: 0px 15px 15px 0px;
}

.ticets__form__button {
  border: none;
  border-radius: 15px;
  font-weight: 400;
  font-size: 18px;

  font-style: normal;
  line-height: 1.3;
  letter-spacing: -0.05em;
  background: #fa742d;
}

@media (width <= 768px) {
  .ticets {
    padding-block: 90px 30px;
    block-size: 70dvh;
  }

  .ticets__form {
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    gap: 5% 0;
  }

  .ticets__form__input:first-of-type {
    grid-column: 1 / span 2;
  }

  .ticets__form__input:nth-of-type(2) {
    grid-column: 3 / span 2;
    border-radius: 0 15px 15px 0;
  }

  .ticets__form__input:nth-of-type(3) {
    border-radius: 15px 0 0 15px;
  }
}

@media (height <= 500px) {
  .ticets {
    padding-block: 90px 30px;
    block-size: 100dvh;
  }
}

/* skidki */

.skidki {
  position: relative;
  margin-inline: auto;
  margin-block-start: -120px;
  border-radius: 15px;

  padding: 30px;
  color: #fff;
  background: linear-gradient(90deg, #95cc51 0%, #6ebd6f 100%);
  inline-size: 50%;
}

.skidki::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;

  background: url(../images/dollar\ money\ bag.png);

  inline-size: 95px;
  block-size: 76px;
}

.skidki__title {
  font-weight: 600;
  font-size: 32px;
  font-style: normal;
  line-height: 44px;
  letter-spacing: -0.05em;
}

.skidki__subtitle {
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.05em;
}

.glide__arrow {
  display: block;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  background-image: url(../images/down-fill.svg);
  filter: brightness(0) invert(1);
  inline-size: 24px;
  block-size: 24px;
}

.glide__arrow--left {
  transform: rotate(90deg);
}

.glide__arrow--right {
  transform: rotate(-90deg);
}

.glide__arrows {
  display: flex;
  justify-content: space-around;

  margin-block-start: 15px;
}

.skidka {
  position: relative;
  margin-block-start: 55px;
  border-radius: 15px;
  padding: 15px;

  color: #100e09;
  background: #ffffff;
}

.skidka::before {
  content: "суперскидка - 45%";
  position: absolute;
  top: -7px;
  right: 0;
  border-radius: 15px;

  color: #ffffff;
  font-weight: 600;
  font-size: 10px;

  font-style: normal;
  line-height: 14px;
  letter-spacing: -0.05em;
  text-align: center;

  background: #3bbf56;
  inline-size: 50%;
}

.skidka__title {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.05em;
}

.crossed-out {
  align-self: flex-start;

  color: rgba(16, 14, 9, 0.3);
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  line-height: 19px;
  letter-spacing: -0.05em;
  text-decoration-line: line-through;
}

.pale {
  color: rgba(16, 14, 9, 0.3);
}

.skidka-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, min-content);
  font-weight: 600;
  font-size: 10px;

  font-style: normal;
  line-height: 14px;
  letter-spacing: -0.05em;
}

.skidka-content__title {
  font-weight: 600;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: -0.05em;
}

.skidka-content__text-alternative {
  grid-column: 2;
  grid-row: 1 / 3;
  text-align: right;
}

@media (width <= 768px) {
  .skidki {
    top: 0;
    margin-block-start: 20px;
    inline-size: 94%;
  }
}

@media (height <= 500px) {
  .skidki {
    top: 0;
    margin-block-start: 20px;
    inline-size: 94%;
  }
}

/* plan */

.plan {
  margin-inline: 2%;
  margin-block: 30px;
  border-radius: 15px;
  padding: 60px;
  background: #fff;
}

@media (width <= 768px) {
  .plan {
    padding-inline: 30px;
    padding-block: 30px;
  }
}

.plan__title {
  padding-block-end: 30px;
}

.plan_card {
  display: grid;
  align-items: center;
  gap: 15px;
  font-size: 24px;

  font-style: normal;
  line-height: 33px;
}

.plan_card img {
  object-fit: contain;
  object-position: center;
  inline-size: 100%;
}

.glide__arrows {
  margin-block-start: 30px;
}

.arrow-contrast {
  filter: none;
}

.dark-plane::before {
  align-self: center;
  opacity: 0.5;
  background-image: url(../images/dark-plane.svg);
}

/* napravlenia */

.napravlenia {
  position: relative;
  padding: 60px;
  background: #fff;
}

@media (width <= 768px) {
  .napravlenia {
    padding-inline: 30px;
    padding-block: 30px;
  }
}

@media (width >= 1440px) {
  .napravlenia::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc((100% - var(--window-width)) / 2);
    z-index: -1;
    display: block;
    background-color: #fff;
    block-size: 100%;
    inline-size: var(--window-width);
  }
}

.napravlenia__title {
  margin-block-end: 60px;
}

.napravlenia__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

@media (width <= 1320px) {
  .napravlenia__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <= 768px) {
  .napravlenia__list {
    grid-template-columns: 1fr;
  }
}

.napravlenia__button {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  border: none;
  background-color: transparent;
}

.napravlenia__list-item {
  display: flex;
  border-radius: 15px;
  padding-inline: 25px;
  padding-block: 22.5px;
  background: #eff1f4;

  transition: background-color 0.3s ease-in-out;
  inline-size: 100%;
}

.napravlenia__list-item:hover {
  background-color: #e1e5e9;
  cursor: pointer;
}

.napravlenia__list-item:before {
  --before-size: 24px;
  display: inline-block;
  order: 1;
  margin-left: auto;
  text-align: end;
  background-image: url(../images/down-fill.svg);
}

/* cotic */

.cotic {
  display: grid;
  justify-content: center;
  margin-inline: 2%;
  margin-block: 90px 60px;
  border-radius: 15px;
  padding: 60px;

  color: #100e09;
  font-weight: 400;
  font-size: 24px;

  font-style: normal;
  line-height: 33px;
  text-align: center;
  background: #e1e5e9;
}

@media (width <= 768px) {
  .cotic {
    padding-inline: 30px;
    padding-block: 30px;
  }
}

.cotic-find {
  z-index: 1;
  display: block;
  margin: auto;
  margin-top: calc(-100% / 4);
  block-size: auto;
}

.cotic__title {
  margin-block-end: 15px;
  font-weight: 700;
  font-size: 48px;

  font-size: clamp(1.75rem, 1.2692rem + 1.8315vw, 3rem);
  font-style: normal;
  line-height: 65px;
}

@media (width <= 768px) {
  .cotic__title {
    margin-block-end: 0;
  }
}

.cotic__button {
  margin-block-start: 30px;
  border-radius: 15px;
  padding: 18px 102px;
  font-weight: 700;
  font-size: 24px;

  font-style: normal;
  line-height: 33px;
  background: #fff;

  transition: background-color 0.3s ease-in-out;
}

.cotic__button:hover {
  background-color: #eff1f4;
}

/* footer */

.footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  padding: 16px min(60px, 5%);
}

@media (width <= 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
    padding-block: 30px;
  }
}

@media (width >= 1440px) {
  .footer {
    padding-inline: 0;
  }

  .footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc((100% - var(--window-width)) / 2);
    z-index: -1;
    display: block;
    background-color: #0c73fe;
    block-size: 100%;
    inline-size: var(--window-width);
  }
}

.footer__menu__list {
  display: flex;
  gap: 30px;
}

.fotter__link-list {
  display: flex;
  gap: 30px;
}

/* ABOUT.html */

li.active {
  opacity: 1;
}

li.active a:hover {
  text-decoration: none;
  cursor: default;
}

/* help-buy */

.help-buy {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-inline: 2%;
  background: url("../images/plane-background.png") no-repeat center 95%,
    url("../images/very-big-cloud.png") no-repeat 93% 30%,
    url("../images/small-cloud.png") no-repeat left center,
    url("../images/ticet-rotate.png") no-repeat 30% 30%,
    url("../images/ticet.png") no-repeat right 60%, #0c73fe;
  background-size: 80%, 30%, 30%, 10%, 10%;
  block-size: 100dvh;
  min-block-size: max-content;
}

@media (width >= 1440px) {
  .help-buy::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc((100% - var(--window-width)) / 2);
    z-index: -1;
    display: block;
    background-color: #0c73fe;
    block-size: 100%;
    inline-size: var(--window-width);
  }
}

@media (width <= 1300px) {
  .help-buy {
    background: url("../images/plane-background.png") no-repeat center 90%,
      url("../images/very-big-cloud.png") no-repeat 90% 25%, #0c73fe;
    background-size: 80%, 70%;
  }
}

@media (height <= 500px) {
  .help-buy {
    padding-block: 90px 30px;
    background: #0c73fe;
  }
}

.help-buy__title {
  border-radius: 15px;
  padding: 15px 30px;
  color: #fff;
  font-size: clamp(1.75rem, 1.2692rem + 1.8315vw, 3rem);
  text-align: center;
  background-color: #6ebd6f;
}

/* find-all */

.find-all {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-inline: 2%;
  padding-block: 60px 90px;
  color: #fff;
  background: radial-gradient(
    98.26% 98.26% at 50% 100%,
    #95cc51 0%,
    #6ebd6f 100%
  );
}

@media (width >= 1440px) {
  .find-all {
    background: transparent;
  }

  .find-all::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc((100% - var(--window-width)) / 2);
    z-index: -1;
    display: block;
    background: radial-gradient(
      98.26% 98.26% at 50% 100%,
      #95cc51 0%,
      #6ebd6f 100%
    );
    block-size: 100%;
    inline-size: var(--window-width);
  }
}

.find-all__title {
  margin-block-end: 60px;
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  line-height: 65px;
  text-align: center;
}

.find-all__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.find-card {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr 1fr;
  border-radius: 15px;
  padding: 15px;

  color: #100e09;
  font-weight: 400;
  font-size: 18px;

  font-style: normal;
  line-height: 25px;
  letter-spacing: -0.05em;
  background: #eff1f4;
  inline-size: 320px;
}

.find-card__content {
  grid-row: 2;
}

.find-card::after {
  content: "билет";
  grid-column: 2;
  grid-row: 1/3;
  align-self: center;
  border-bottom: 1px dashed rgba(16, 14, 9, 0.3);
  padding-block-end: 10px;
  color: rgba(16, 14, 9, 0.3);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: rotate(90deg);
  block-size: min-content;
}

.find-bold {
  font-weight: 700;
}

/* CITIES.html */

/* korotko */

.korotko {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  padding-inline: 2%;
  padding-inline: 120px;
  block-size: 100dvh;
  min-block-size: max-content;
}

@media (width >= 1440px) {
  .korotko::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc((100% - var(--window-width)) / 2);
    z-index: -1;
    display: block;
    background-color: #0c73fe;
    block-size: 100%;
    inline-size: var(--window-width);
  }
}

@media (width <= 768px) {
  .korotko {
    padding-inline: 5%;
  }
}

.korotko__title {
  margin-block-end: 0.2em;
  font-size: clamp(1.75rem, 1.2692rem + 1.8315vw, 3rem);
}

.korotko_text {
  line-height: normal;
  inline-size: 50%;
}

.korotko__content {
  position: relative;
  font-weight: 600;
  font-size: clamp(1rem, 0rem + 2.0833vw, 1.875rem);
  font-style: normal;
  line-height: 41px;
}

.korotko__content::before {
  content: "";
  position: absolute;
  bottom: -6.5em;
  left: -3em;

  z-index: 1;
  display: block;
  background-image: url(../images/big-cloud.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: scale(-1, 1);
  inline-size: 7em;
  block-size: 6em;
}

.korotko__content::after {
  content: "";
  position: absolute;
  right: -3em;
  bottom: -5em;

  z-index: 1;
  display: block;
  background-image: url(../images/big-cloud.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  inline-size: 9em;
  block-size: 8em;
}

@media (width <= 768px) {
  .korotko__content::before {
    display: none;
  }

  .korotko__content::after {
    right: 0;
    bottom: -5em;
    inline-size: 7em;
    block-size: 6em;
  }
}

@media (height <= 500px) {
  .korotko {
    padding-block: 90px 30px;
  }

  .korotko__content::before,
  .korotko__content::after {
    display: none;
  }
}

.korotko__form {
  position: relative;
  margin-block-start: 2em;
}

.korotko__form::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 1.9em;
  display: block;
  background-image: url(../images/city.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  inline-size: 50%;
  block-size: 5em;
}

.search {
  position: relative;
}

.search::before {
  --before-size: 24px;
  position: absolute;
  left: 0.5em;
  background-image: url(../images/search.svg);
}

.korotko__input {
  padding-inline: 2.5em;
  padding-block: 0.5em;

  color: rgba(16, 14, 9, 0.3);
  font-weight: 600;
  font-size: clamp(1rem, 0.4286rem + 1.1905vw, 1.5rem);

  font-style: normal;
  line-height: 33px;
  inline-size: 100%;
}

/* cities */

.cities_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 325px));
  justify-content: space-around;
  gap: 30px;
  margin-block-start: 60px;
}

.city-card img {
  inline-size: 100%;
}

.empty-message {
  display: none;
  grid-column: 1 / -1;
  margin-block-end: 60px;
  border-radius: 15px;
  padding-inline: 0.5em;
  padding-block: 18px;
  font-weight: 700;
  font-size: clamp(1.75rem, 1.2692rem + 1.8315vw, 3rem);
  font-style: normal;
  text-align: center;
  background: #fff;
  inline-size: 100%;
}
