html {
  scroll-behavior: smooth;
}

.page {
  color: #100e09;
  font-family: "Open Sans", sans-serif;
  background-color: #eff1f4;
}

.contrast-colors {
  color: #fff;
  background-color: #0c73fe;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
}

.section__title {
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 41px;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: max-content min-content;
  justify-content: space-between;
  align-items: center;
  padding: 16px min(60px, 5%);
  inline-size: 100%;
}

@media (width >= 1440px) {
  .header {
    padding-inline: calc((var(--window-width) - 1440px) / 2);
  }
}

.menu__button {
  display: block;
  border: none;
  background-color: transparent;
  background-image: url(../svg/hamburger-open.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  inline-size: 50px;
  block-size: 50px;
}

.menu__button:hover {
  opacity: 0.6;
}

.menu_opened {
  grid-column: 1 / -1;
}

.menu_opened .menu__button {
  background-image: url(../svg/hamburger-close.svg);
}

.menu__list {
  display: none;
  align-items: center;
  gap: 32px;
  opacity: 0.7;
}

.menu__list a:hover {
  opacity: 1;
  text-decoration: underline;
}

.menu_opened .menu__list {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

@media (width > 768px) {
  .header {
    display: flex;
  }

  .menu__button {
    display: none;
  }

  .menu__list {
    display: flex;
  }
}

/* before */

.before {
  display: flex;
  align-items: center;
  gap: 8px;
}

.before::before {
  --before-size: 17px;
  content: "";
  display: inline-block;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  inline-size: var(--before-size);
  block-size: var(--before-size);
}

.light-plane:before {
  background-image: url(../images/plane-light.svg);
}

.city-vector::before {
  background-image: url(../images/sity-vector.svg);
}

/* ticets */

.ticets {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding-inline: min(60px, 2%);
  background-color: transparent;

  min-block-size: max-content;
  block-size: 100vh;
}

.ticets::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  background-color: #0c73fe;
  background-image: url(../images/clouds-planes.png);
  background-repeat: no-repeat;
  background-position: center 80%;
  background-size: contain;
  inline-size: 100%;
  block-size: 100%;
}

@media (width >= 1440px) {
  /* выполнено через js */
  .ticets::before {
    left: calc((100% - var(--window-width)) / 2);
    inline-size: var(--window-width);
  }
}

.ticets__title {
  align-self: end;
  margin-block-end: 60px;
  font-size: clamp(1.75rem, 1.2692rem + 1.8315vw, 3rem);
  text-align: center;
}

.ticets__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  align-self: start;
}

.form__input {
  border: none;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;

  font-style: normal;
  line-height: 1.3;
  letter-spacing: -0.05em;
  background: #fff;
  appearance: none;
}

.form__input::placeholder {
  opacity: 0.3;
}

.ticets__form__input {
  border-radius: 0;
  padding: 22.5px 10px;
}

.ticets__form__input:first-of-type {
  border-radius: 15px 0px 0px 15px;
}

.ticets__form__input:last-of-type {
  border-radius: 0px 15px 15px 0px;
}

.ticets__form__button {
  border: none;
  border-radius: 15px;
  font-weight: 400;
  font-size: 18px;

  font-style: normal;
  line-height: 1.3;
  letter-spacing: -0.05em;
  background: #fa742d;
}

@media (width <= 768px) {
  .ticets {
    padding-block: 90px 30px;
    block-size: 70dvh;
  }

  .ticets__form {
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    gap: 5% 0;
  }

  .ticets__form__input:first-of-type {
    grid-column: 1 / span 2;
  }

  .ticets__form__input:nth-of-type(2) {
    grid-column: 3 / span 2;
    border-radius: 0 15px 15px 0;
  }

  .ticets__form__input:nth-of-type(3) {
    border-radius: 15px 0 0 15px;
  }
}

/* skidki */

.skidki {
  position: relative;
  margin-inline: auto;
  margin-block-start: -120px;
  border-radius: 15px;

  padding: 30px;
  color: #fff;
  background: linear-gradient(90deg, #95cc51 0%, #6ebd6f 100%);
  inline-size: 50%;
}

.skidki::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;

  background: url(../images/dollar\ money\ bag.png);

  inline-size: 95px;
  block-size: 76px;
}

.skidki__title {
  font-weight: 600;
  font-size: 32px;
  font-style: normal;
  line-height: 44px;
  letter-spacing: -0.05em;
}

.skidki__subtitle {
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.05em;
}

.glide__arrow {
  display: block;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  background-image: url(../images/down-fill.svg);
  filter: brightness(0) invert(1);
  inline-size: 24px;
  block-size: 24px;
}

.glide__arrow--left {
  transform: rotate(90deg);
}

.glide__arrow--right {
  transform: rotate(-90deg);
}

.glide__arrows {
  display: flex;
  justify-content: space-around;

  margin-block-start: 15px;
}

.skidka {
  position: relative;
  margin-block-start: 55px;
  border-radius: 15px;
  padding: 15px;

  color: #100e09;
  background: #ffffff;
}

.skidka::before {
  content: "суперскидка - 45%";
  position: absolute;
  top: -7px;
  right: 0;
  border-radius: 15px;

  color: #ffffff;
  font-weight: 600;
  font-size: 10px;

  font-style: normal;
  line-height: 14px;
  letter-spacing: -0.05em;
  text-align: center;

  background: #3bbf56;
  inline-size: 50%;
}

.skidka__title {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.05em;
}

.crossed-out {
  align-self: flex-start;

  color: rgba(16, 14, 9, 0.3);
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  line-height: 19px;
  letter-spacing: -0.05em;
  text-decoration-line: line-through;
}

.pale {
  color: rgba(16, 14, 9, 0.3);
}

.skidka-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, min-content);
  font-weight: 600;
  font-size: 10px;

  font-style: normal;
  line-height: 14px;
  letter-spacing: -0.05em;
}

.skidka-content__title {
  font-weight: 600;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: -0.05em;
}

.skidka-content__text-alternative {
  grid-column: 2;
  grid-row: 1 / 3;
  text-align: right;
}

@media (width <= 768px) {
  .skidki {
    top: 0;
    margin-block-start: 20px;
    inline-size: 94%;
  }
}

/* plan */

.plan {
  margin-inline: 2%;
  margin-block: 30px;
  border-radius: 15px;
  padding: 60px;
  background: #fff;
}

@media (width <= 768px) {
  .plan {
    padding-inline: 30px;
    padding-block: 30px;
  }
}

.plan__title {
  padding-block-end: 30px;
}

.plan_card {
  display: grid;
  align-items: center;
  gap: 15px;
}

.plan_card img {
  object-fit: contain;
  object-position: center;
  inline-size: 100%;
}

.glide__arrows {
  margin-block-start: 30px;
}

.arrow-contrast {
  filter: none;
}

/* napravlenia */

.napravlenia {
  position: relative;
  padding: 60px;
  background: #fff;
}

@media (width <= 768px) {
  .napravlenia {
    padding-inline: 30px;
    padding-block: 30px;
  }
}

@media (width >= 1440px) {
  .napravlenia::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc((100% - var(--window-width)) / 2);
    z-index: -1;
    display: block;
    background-color: #fff;
    block-size: 100%;
    inline-size: var(--window-width);
  }
}

.napravlenia__title {
  margin-block-end: 60px;
}

.napravlenia__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

@media (width <= 1320px) {
  .napravlenia__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <= 768px) {
  .napravlenia__list {
    grid-template-columns: 1fr;
  }
}

.napravlenia__button {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  border: none;
}

.napravlenia__list-item {
  display: flex;
  border-radius: 15px;
  padding-inline: 25px;
  padding-block: 22.5px;
  background: #eff1f4;
  inline-size: 100%;
}

.napravlenia__list-item:before {
  --before-size: 24px;
  display: inline-block;
  order: 1;
  margin-left: auto;
  text-align: end;
  background-image: url(../images/down-fill.svg);
}

/* cotic */

.cotic {

  display: grid;
  justify-content: center;
  margin-inline: 2%;
  margin-block: 90px 60px;
  border-radius: 15px;
  padding: 60px;

  color: #100e09;
  font-weight: 400;
  font-size: 24px;

  font-style: normal;
  line-height: 33px;
  text-align: center;
  background: #e1e5e9;
}

@media (width <= 768px) {
  .cotic {
    padding-inline: 30px;
    padding-block: 30px;
  }
}

.cotic-find {
  z-index: 1;
  display: block;
  margin: auto;
  margin-top: calc(-100% / 4);
  block-size: auto;
}

.cotic__title {
  margin-block-end: 15px;
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  line-height: 65px;
}

.cotic__button {
  margin-block-start: 30px;
  border-radius: 15px;
  padding: 18px 102px;
  font-weight: 700;
  font-size: 24px;

  font-style: normal;
  line-height: 33px;
  background: #fff;
}
