.page {
  color: #100e09;
  font-family: "Open Sans", sans-serif;
  background-color: #eff1f4;
}

.contrast-colors {
  color: #fff;
  background-color: #0c73fe;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: max-content min-content;
  justify-content: space-between;
  align-items: center;
  padding: 16px min(60px, 5%);
  inline-size: 100%;
}

.menu__button {
  display: block;
  border: none;
  background-color: transparent;
  background-image: url(../svg/hamburger-open.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  inline-size: 50px;
  block-size: 50px;
}

.menu__button:hover {
  opacity: 0.6;
}

.menu_opened {
  grid-column: 1 / -1;
}

.menu_opened .menu__button {
  background-image: url(../svg/hamburger-close.svg);
}

.menu__list {
  display: none;
  align-items: center;
  gap: 32px;
  opacity: 0.7;
}

.menu__list a:hover {
  opacity: 1;
  text-decoration: underline;
}

.menu_opened .menu__list {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

@media (width > 768px) {
  .header {
    display: flex;
  }

  .menu__button {
    display: none;
  }

  .menu__list {
    display: flex;
  }
}

/* before */

.before {
  display: flex;
  align-items: center;
  gap: 8px;
}

.before::before {
  --before-size: 17px;
  content: "";
  display: inline-block;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  inline-size: var(--before-size);
  block-size: var(--before-size);
}

.light-plane:before {
  background-image: url(../images/plane-light.svg);
}

.city-vector::before {
  background-image: url(../images/sity-vector.svg);
}

/* ticets */

.ticets {
  background-color: transparent;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding-inline: min(60px, 2%);

  min-block-size: max-content;
  block-size: 100vh;
  position: relative;
  grid-template-columns: 100%;
}

.ticets::before {
  content: "";
  display: block;
  background-color: #0c73fe;
  background-image: url(../images/clouds-planes.png);
  background-repeat: no-repeat;
  background-position: center 80%;
  background-size: contain;
  position: absolute;
  /* left:; */
  /* left: calc((100% - 100vw) / 2); */
  left: min(0px, calc((100% - 100vw) / 2));
  top: 0;
  inline-size: max(100vw, 100%);
  block-size: 100%;
  z-index: -1;
}

.ticets__title {
  align-self: end;
  margin-block-end: 60px;
  font-size: clamp(1.75rem, 1.2692rem + 1.8315vw, 3rem);
  text-align: center;
}

.ticets__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  align-self: start;
}

.form__input {
  border: none;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;

  font-style: normal;
  line-height: 1.3;
  letter-spacing: -0.05em;
  background: #fff;
  appearance: none;
}

.form__input::placeholder {
  opacity: 0.3;
}

.ticets__form__input {
  padding: 22.5px 10px;
  border-radius: 0;
}

.ticets__form__input:first-of-type {
  border-radius: 15px 0px 0px 15px;
}

.ticets__form__input:last-of-type {
  border-radius: 0px 15px 15px 0px;
}

.ticets__form__button {
  border: none;
  font-weight: 400;
  font-size: 18px;

  font-style: normal;
  line-height: 1.3;
  letter-spacing: -0.05em;
  background: #fa742d;
  border-radius: 15px;
}

@media (width <= 768px) {
  .ticets {
    padding-block: 90px 10px;
    block-size: 70dvh;
  }

  .ticets__form {
    grid-template-columns: repeat(4, 24%);
    gap: 5% 0;
    justify-content: space-between;
  }

  .ticets__form__input:first-of-type {
    grid-column: 1 / span 2;
  }

  .ticets__form__input:nth-of-type(2) {
    grid-column: 3 / span 2;
    border-radius: 0 15px 15px 0;
  }

  .ticets__form__input:nth-of-type(3) {
    border-radius: 15px 0 0 15px;
  }
}
