.page {
  color: #100e09;
  font-family: "Open Sans", sans-serif;
  background-color: #eff1f4;
}

.contrast-colors {
  color: #fff;
  background-color: #0c73fe;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: max-content min-content;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  inline-size: 100%;
}

.menu__button {
  display: block;
  border: none;
  background-color: transparent;
  background-image: url(../svg/hamburger-open.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  inline-size: 50px;
  block-size: 50px;
}

.menu__button:hover {
  opacity: 0.6;
}

.menu_opened {
  grid-column: 1 / -1;
}

.menu_opened .menu__button {
  background-image: url(../svg/hamburger-close.svg);
}

.menu__list {
  display: none;
  align-items: center;
  gap: 32px;
  opacity: 0.7;
}

.menu__list a:hover {
  opacity: 1;
  text-decoration: underline;
}

.menu_opened .menu__list {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

@media (min-width: 768px) {
  .header {
    display: flex;
  }

  .menu__button {
    display: none;
  }

  .menu__list {
    display: flex;
  }
}

/* before */

.before {
  display: flex;
  align-items: center;
  gap: 8px;
}

.before::before {
  --before-size: 17px;
  content: "";
  display: inline-block;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  inline-size: var(--before-size);
  block-size: var(--before-size);
}

.light-plane:before {
  background-image: url(../images/plane-light.svg);
}

.city-vector::before {
  background-image: url(../images/sity-vector.svg);
}
